[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
ExecStart=/home/ubuntu/kafka_2.13-3.0.0/bin/kafka-server-start.sh /home/ubuntu/kafka_2.13-3.0.0/config/server.properties
ExecStop=/home/ubuntu/kafka_2.13-3.0.0/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target